<%- include('partials/header'); -%>
<h1>Compose</h1>
<form action="/compose" method="POST">
<div class="form-group">
    <label for="postTitle" class="form-label">Title</label>
    <input type="text" name="postTitle" class="form-control">

    <label for="postBody" class="form-label">Post</label>
  <textarea class="form-control mb-2" name="postBody" rows="5"></textarea>
</div>

    <button type="submit" class="btn btn-primary">Publish</button>

</form>
<%- include('partials/footer'); -%>